<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>create_notice</title>
  </head>
  <body>
    <h1 style="text-align: center;">create_notice</h1>
    <a class="btn btn-dark" href="{% url 'redirect_me' slug %}" style="margin-left: 5vh;margin-top: 5vh;">back<i class="bi bi-house-door"></i></a>
    <hr>

    <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <label for="alert_date">Notice Date:</label>
        <input type="date" id="alert_date" name="alert_date"><br>
        <label for="alert_subject">Notice Subject:</label>
        <input type="text" id="alert_subject" name="alert_subject"><br>
        <label for="alert_body">Notice Body:</label>
        <textarea id="alert_body" name="alert_body" rows="4" cols="50">Input Your Notice Body Here.......</textarea><br>
        <input type="submit" value="Submit">
    </form>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>